<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/catalogo.css">
    <title>Catálogo</title>
</head>

<body>
    <nav class="menu-div">
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Minha Lista</a></li>
            <li><a href="#">Recomendados</a></li>
            <li><a href="#">Frases</a></li>
            <li id="login-but"><a href="#">Login</a></li>
        </ul>
    </nav>
    <main class="main-content">
        <div class="listagem">
            <section class="search-div">
                <!-- Select para filtragem por genero -->

                <!-- Input de pesquisa por anime -->
                <div class="src-input">
                    <input id="src-but" type="text" name="" placeholder="Qual anime procura?" " />
                </div>

                <div class=" div-btn-src">
                    <button id="buttonSearch">Pesquisar</button>
                </div>

                <div class="genre-selecion">
                    <label for="genero">Genero</label>
                    <div class="center-select">
                        <select id="genre">
                            <option value="none">Selecione...</option>
                            <option value="action">Ação</option>
                            <option value="adventure">Aventura</option>
                            <option value="comedy">Comédia</option>
                            <option value="drama">Drama</option>
                            <option value="fantasy">Fantasia</option>
                            <option value="horror">Terror</option>
                            <option value="music">Música</option>
                            <option value="sports">Esportes</option>
                            <option value="romance">Romance</option>
                        </select>
                    </div>
                </div>

                <!-- Input número máximo de episódios -->
                <div class="max-eps-selecion">
                    <div class="max-eps-selecion">
                        <label for="max-eps-input">Máximo de episódios</label>
                        <input id="max-eps-input" type="number" name="" placeholder="Número máximo de episódios" " />
                    </div>                 
                </div>
            </section>
            <div class=" c-loader" id="loader">
                    </div>

                    <div class="catalogo">
                        <!-- div para a listagem dos cards -->
                    </div>
                    <div class="center-s-loader">
                        <div class="s-loader"></div>
                    </div>

                </div>
    </main>


</body>
<script type=module src="../scripts/requests.js"></script>

</html>