<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página da Notícia</title>
</head>
<body>
    <main>
        <div id="card-div">    
            <figure id="news-image-center">
                <img src="" alt="Banner do anime" id="anime-news-image">
            </figure>      
            <div class="anime-informations">
                <h3 id="news-title">Carregando...</h3> 
                <p id="news-author"></p>
            </div>     
            <div class="anime-description-div">
                <h2>Descrição</h2>
                <p id="news-summary"> Carregando... </p>
            </div>
        </div>
    </main>
</body>
<script type=module src="../scripts/newspage.js"></script>
</html>