<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/news.css">
    <title>Notícias</title>
</head>

<body>

    <div class="menu-div">
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="">Minha Lista </a></li>
                <li><a href="">Recomendados</a></li>
                <li><a href="">Frases </a></li>
                <li id="login-but"><a href="">Login</a></li>
            </ul>
        </nav>

    </div>

    <main>
        <h1 id="title-page"> Notícias </h1>
        <div id="news-cards">
            
        </div>
    </main>
</body>
<script type="module" src="../scripts/news.js"></script>
</html>